/* En html se debe asignar la clase de las secciones */

body{
    margin: 0;   /* NUEVO */
  }

#indexp, #cipherp, #decipherp, #exitp{
    background-image: url('./img/fondo-isla-h.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #F2EBD5;
    height: 100vh;
    font-family: 'Jua', sans-serif;
    text-align: center;
    padding:25px;
  }

  footer {
    min-height: 20px;
    background-color:none;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  